[Unit]
Description=Independently Thinking Human Django App
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Type=notify
User=ubuntu
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/home/ubuntu/independently_thinking_human/app_backend
Environment=PATH=/home/ubuntu/independently_thinking_human/app_backend/venv/bin
EnvironmentFile=/home/ubuntu/independently_thinking_human/app_backend/.env
ExecStart=/home/ubuntu/independently_thinking_human/app_backend/venv/bin/gunicorn \
          --access-logfile - \
          --error-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn/socket \
          --timeout 60 \
          --keepalive 2 \
          --pythonpath /home/ubuntu/independently_thinking_human/app_backend \
          blog_backend.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
