[Unit]
Description=gunicorn socket

[Socket]
ListenStream=/run/gunicorn/socket
# Our service won't need permissions for the socket, since it
# inherits the file descriptor by socket activation
# only the nginx daemon needs access to the socket
SocketUser=www-data
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
