[Unit]
Description=Independently Thinking Human Django App
After=network.target postgresql.service
Wants=postgresql.service
Requires=gunicorn.socket

[Service]
Type=notify
User=ubuntu
Group=www-data
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0755
WorkingDirectory=/home/ubuntu/independently_thinking_human/django_backend
Environment=PATH=/home/ubuntu/independently_thinking_human/django_backend/venv/bin
EnvironmentFile=/home/ubuntu/independently_thinking_human/django_backend/.env
ExecStartPre=/bin/mkdir -p /home/ubuntu/independently_thinking_human/django_backend/logs
ExecStartPre=/bin/chown -R ubuntu:www-data /home/ubuntu/independently_thinking_human/django_backend/logs
ExecStartPre=/bin/chmod -R 755 /home/ubuntu/independently_thinking_human/django_backend/logs
ExecStart=/home/ubuntu/independently_thinking_human/django_backend/venv/bin/gunicorn \
          --access-logfile /home/ubuntu/independently_thinking_human/django_backend/logs/gunicorn-access.log \
          --error-logfile /home/ubuntu/independently_thinking_human/django_backend/logs/gunicorn-error.log \
          --log-level debug \
          --capture-output \
          --enable-stdio-inheritance \
          --workers 3 \
          --bind unix:/run/gunicorn/socket \
          --timeout 60 \
          --keep-alive 2 \
          blog_backend.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
