[Unit]
Description=Independently Thinking Human Django App
After=network.target postgresql.service
Wants=postgresql.service
Requires=gunicorn.socket

[Service]
Type=notify
User=ubuntu
Group=www-data
RuntimeDirectory=gunicorn
RuntimeDirectoryMode=0755
WorkingDirectory=/home/ubuntu/independently_thinking_human/django_backend
Environment=PATH=/home/ubuntu/independently_thinking_human/django_backend/venv/bin
EnvironmentFile=/home/ubuntu/independently_thinking_human/django_backend/.env
ExecStart=/home/ubuntu/independently_thinking_human/django_backend/venv/bin/gunicorn \
          --access-logfile - \
          --error-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn/socket \
          --timeout 60 \
          --keep-alive 2 \
          wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
